<table datatable [dtOptions]="dtOptions" class="table table-centered table-striped dt-responsive no-footer  dtr-inline collapsed row-border hover" style="width: 1000px;
overflow-x: scroll;
display: block;    margin-top: 59px !important;">
    <tfoot style="top:0px; position:absolute;">
      <tr>
        <th><input type="text" placeholder="Search Domain" name="search-domain"/></th>
        <th><input type="text" placeholder="Search Resource Id" name="search-resource-id"/></th>
        <th><input style="display: none;" type="text" placeholder="Search last name" name="search-resource-name"/></th>
        <th><input   type="text" placeholder="Search Application Name" name="search-application-name"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-employment-type"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-retain-release"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-resource-class"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-date-of-hire"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-role"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-resource-manager-bankid"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-resource-Manager-name"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-financial-department"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-city"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-country"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-current-resource-type"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-nextYear-Resource-type"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-transition-period"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-transition-year"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-remarks"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-administrator-access"/></th>
        <th><input  style="display: none;" type="text" placeholder="Search last name" name="search-resource-id"/></th>
      </tr>
    </tfoot>
  </table>

  <!-- class="table table-centered table-striped dt-responsive nowrap w-30 dataTable no-footer dtr-inline collapsed" -->