table.dataTable{
    width:1200px !important;

}
.tooltipss {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltipss .tooltiptext {
    visibility: hidden;
    width:auto;
    
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltipss .tooltiptext::after {
    /* content: ""; */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    
  }
  
  .tooltipss:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .cust-padd{
    padding-top:8px;
  }
  .cust-left{
    float: left !important;
  }