<div class="account-pages mt-5 mb-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card">
					<!-- Logo -->
					<div class="card-header pt-4 pb-4 text-center cust-bg">
						<a href="#"> <span><img src="assets/images/logo_freshleads.PNG" alt="" height="80" width="300" ></span>
						</a>
					</div>
					
					<div class="card-body p-4">
						<div class="text-center w-75 m-auto">
							<h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
							<p class="text-muted mb-2">LEAD DASHBOARD</p>
						</div>
						<form [formGroup]="loginControlForm" (ngSubmit)="loginAccount()">
							<div class="form-group">
								<label for="login_name">User Name</label><span style="color: red">*</span>
								<input type="name" class="form-control" id="login_name" formControlName="userName" placeholder="Enter your user name" required/>
								<div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
									<div *ngIf="userName.errors.required">Please enter Username</div>
								</div>
							</div>
							<div class="form-group"> <a href="" class="text-muted float-right"></a>
								<label for="password">Password</label><span style="color: red">*</span>
								<input type="password" class="form-control" id="login_pass" formControlName="password" placeholder="Enter your password" required/>
								<div class="alert alert-danger" *ngIf="password.touched && password.invalid">
									<div *ngIf="password.errors.required">Please enter Password</div>
								</div>
							</div>
							<div class="form-group mb-0 text-center">
								<button [disabled]="loginControlForm.invalid" type="submit" class="btn btn-block btn-xs btn-success">Submit</button>
							</div>
						</form>
					</div>
					
					<!-- end card-body -->
				</div>
				<!-- end card 
				<div class="row mt-3">
					<div class="col-12 text-center">
						<p class="text-muted">Don't have an account? <a href="" class="text-dark ml-1"><b>Sign Up</b></a>
						</p>
					</div>
				</div>-->
				<!-- end row -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>