<div class="modal-backdrop fade in" ></div>
<div id="full-width-modal" style="display: block;overflow: auto;opacity: 1;top: 0%;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> 
   <!-- <div id="full-width-modal" class="modal fade" tabindex="-1"  z-index:99999;position:absolute; role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> -->
   <div class="modal-dialog modal-full-width" style=" transform: translate(0,0%)">
       <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title" id="fullWidthModalLabel">Edit Schedulded
                 </h4>
               <button type="button" (click)="backClicked()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           </div> 
           <form [formGroup]="editScheduldedForm" (ngSubmit)="editScheduledata(f)" #f>
           <div class="modal-body" >
                   <div class="modal-body">
                       <div class="row">
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="Name"> Name</label><span style="color: red">*</span>
                                   <input type="text" class="form-control" formControlName="name"  [ngClass]="{'is-invalid': submitted && f.name.errors }" id="Name" name="Name" placeholder="Enter Name"  />
                                   <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
                                       <div *ngIf="f.name.errors.required"> Name is required</div>
                                   </div>
                               </div>
                              
                           </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="phoneNumber"> Phone Number</label><span style="color: red">*</span>
                                   <input type="text" class="form-control" formControlName="phoneNumber"  [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors }" id="phoneNumber" name="phoneNumber" placeholder="Enter phoneNumber"  />
                                   <div *ngIf="submitted && f.phoneNumber.errors" class="alert alert-danger">
                                       <div *ngIf="f.phoneNumber.errors.required"> Phone Number is required</div>
                                   </div>
                                  </div>
                           </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="emailId"> Email Id</label><span style="color: red">*</span>
                                   <input type="text" class="form-control" formControlName="emailId"  [ngClass]="{'is-invalid': submitted && f.emailId.errors }" id="emailId" name="emailId" placeholder="Enter Email Id"  />
                                   <div *ngIf="submitted && f.emailId.errors" class="alert alert-danger">
                                       <div *ngIf="f.emailId.errors.required"> Email Id is required</div>
                                   </div>
                            </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="organization"> Organization</label><span style="color: red">*</span>
                                   <input type="text" class="form-control" formControlName="organization"  [ngClass]="{'is-invalid': submitted && f.organization.errors }" id="organization" name="organization" placeholder="Enter Organization"  />
                                   <div *ngIf="submitted && f.organization.errors" class="alert alert-danger">
                                       <div *ngIf="f.organization.errors.required"> Organization is required</div>
                                   </div>
                             </div>
                              </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="scheduldedTime">Schedulded Time</label><span style="color: red">*</span>
                                   <input type="text" class="form-control" formControlName="scheduldedTime"  [ngClass]="{'is-invalid': submitted && f.scheduldedTime.errors }" id="scheduldedTime" name="scheduldedTime" placeholder="Enter Schedulded Time"  />
                                   <div *ngIf="submitted && f.scheduldedTime.errors" class="alert alert-danger">
                                       <div *ngIf="f.scheduldedTime.errors.required"> Schedulded timeis required</div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="content-section implementation">
                                   <div class="ui-g ui-fluid">
                                       <div class="ui-g-12 ui-md-12 ">
                                               <div class="form-group">
                                               <label for="name">Schedulded Date </label><br>
                                               <p-calendar class="ng-tns-c3-3" formControlName="scheduldedDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Schedulded Date"></p-calendar>
                                           </div>
                                           </div>
                                       </div>
                                   </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="remarks">Remarks</label>
                                   <textarea type="text" formControlName="remarks" class="form-control" name="remarks" id="remarks" placeholder="Enter Remarks" required></textarea>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="markas">Mark as</label>
                                   <select class="form-control" id="markas" (change)="followup($event.target.value)" formControlName="markas" name="markas">
                                       <option value="" >Choose a Assign To</option>
                                       <option value="Customer" >Customer</option>
                                       <option value="Unqualified" >Unqualified</option>
                                       <option value="FollowUp">FollowUp</option>
                                   </select>
                                   
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="leadStatus">Lead Status</label>
                                   <select class="form-control" id="leadStatus" formControlName="leadStatus" name="leadStatus">
                                       <option value=""  >Choose a Lead Status</option>
                                       <option value="Demo" >Demo</option>
                                       <option value="Contacted" >Contacted</option>
                                       <option value="Intrested" >Intrested</option>
                                       <option value="Unqualified" >Unqualified</option>
                                       <option value="Under Review" >Under Review</option>
                                       <!-- <option *ngFor="let country of locationCtryLists; let i = index;" [value]="leadStatus">{{country}}</option> -->
                                   </select>
                               </div> 
                           </div>
                                
                       </div>
                       <div *ngIf="currentValue">
                        <div class="row" *ngIf="condtion"  >
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Folllowup Time">Followup Time</label><span style="color: red">*</span>
                                    <input type="text" class="form-control" formControlName="followupTime"
                                        [ngClass]="{'is-invalid': submitted && f.followupTime.errors }"
                                        id="followupTime" name="followupTime" placeholder="Enter Folllowup Time" />
                                    <div *ngIf="submitted && f.followupTime.errors" class="alert alert-danger">
                                        <div *ngIf="f.followupTime.errors.required"> Schedulded time is required</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="content-section implementation">
                                    <div class="ui-g ui-fluid">
                                        <div class="ui-g-12 ui-md-12 ">
                                            <div class="form-group">
                                                <label for="name">Followup Date</label><br>
                                                <!-- <p-calendar class="ng-tns-c3-3" formControlName="followupDate"
                                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                                    placeholder="Followup Date"></p-calendar> -->
                                                    <p-calendar class="ng-tns-c3-3" formControlName="followupDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Followup Date"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="information"> Information</label><span style="color: red">*</span>
                                    <textarea type="text" class="form-control" formControlName="information"
                                        [ngClass]="{'is-invalid': submitted && f.information.errors }" id="information"
                                        name="information" placeholder="Enter information" ></textarea>
                                    <div *ngIf="submitted && f.information.errors" class="alert alert-danger">
                                        <div *ngIf="f.information.errors.required"> Information is required</div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dealsize">Deal size</label><span style="color: red">*</span>
                                <input type="text" class="form-control" formControlName="dealsize"
                                    [ngClass]="{'is-invalid': submitted && f.dealsize.errors }"
                                    id="dealsize" name="dealsize" placeholder="Enter Folllowup Time" />
                                <div *ngIf="submitted && f.dealsize.errors" class="alert alert-danger">
                                    <div *ngIf="f.dealsize.errors.required"> Deal size is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Message">Message</label>
                            
                                    <textarea type="text" formControlName="message" class="form-control" name="message"
                                    id="message" placeholder="Enter Message" required></textarea>
                                <div *ngIf="submitted && f.message.errors" class="alert alert-danger">
                                    <div *ngIf="f.message.errors.required"> Message is required</div>
                                </div>
                            </div>
                        </div>

                    </div>


                   </div>
               </div>
           <div class="modal-footer">
               <button type="button" (click)="backClicked()" class="btn btn-light" data-dismiss="modal">Close</button>
               <!-- <button type="button" *ngIf="buttontype == false" [disabled]="editLeadForm.invalid" (click)="enableForm()" class="btn btn-primary">Edit changes</button> -->
               <button type="button" type="submit" class="btn btn-primary">Save changes</button>
           </div></form>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->


